.Footer{
    height: 25%;
    width: 100%;
    margin-top: 100px;
    background-color: #02021b;
}

footer{
    height: 60vh;
    width: 85%;
    margin: 0px 110px;
    padding: 100px 0px;
}

.Fa{
    display: flex;
}

.common{
    display: flex;
    flex-direction: column;
    width: 25%;
}

a{
    margin: 10px;
    color: white;
    font-weight: 0px;
}

select{
    margin-top: 50px;
}

.Ind{
    margin-top: 50px;
}